$color_encabezado: #F1E2CD;
$color_main: #D5B197;
$color_footer: #6E5339;
$color_barra: #B99174;
$color_letra_barra: #5B3E23;
$color_fondo_texto: #967455;
$blanco: white;
$negro: black;
$fondopanaderia2: #FCDBAD;
$colormarron: #5F3D1E;
$colorfondopasteleria: #524130;
$botonempanada: #DAAD77;
$fondoempanada: #825B37;
$rojobandera: rgb(237, 72, 72);

